body {
}
.top-menu{
    background-color: dimgray;
    height: 25%;
    width: 100%;
}
#header1 {
    float left;
    width: 25%;
    background-color: dimgray;
    text-align: center;
}
#nav{
    float: left;
    text-align: center;
    background-color: dimgray;
    width: 50%;
}
#header2{
    text-align:center;
    float: left;
    width: 25%;
}
#section{
    text-align:center;
}
#footer{
    text-align:center;
}
.main-content{
    height:500px;
    width:100%;
}